<menu>
    <nav class="pages">
        <a href='{{ relLangURL "/" }}'>{{ i18n "Home" }}</a>
        <a href='{{ relLangURL "/blog" }}'>{{ i18n "Blog" }}</a>
        <a href='{{relLangURL "/inspiration" }}'>{{ i18n "Inspiration" }}</a>
        <a href='{{ relLangURL "/cs30" }}'>cs30</a>
        <a href='{{ relLangURL "/solitaire"}}'>{{ i18n "Solitaire" }}</a>
        <a href='{{ relLangURL "/guestbook" }}'>{{ i18n "Guestbook" }}</a>
    </nav>
    {{ with resources.Get "img/NyanCat.gif" }}
    <img src="{{ .RelPermalink }}" onclick="playAudio()" title="Refresh page to stop ;)" alt="Nyan Cat GIF" height="16px" style="position: relative; top: -38px; cursor: pointer;">
    {{ end }}
    <script>
        function playAudio() {
            var audio = new Audio('https://github.com/andreasdelabie/andreasdelabie.neocities.org/raw/refs/heads/main/assets/audio/NyanCat.mp3');
            audio.play();
        }
    </script>
    <nav class="langswitcher">
        <a href="/en">en</a>
        <a href="/nl">nl</a>
    </nav>
</menu>