<h2>Stats:</h2>
<p>{{ i18n "Current-time" }}: <span id="current-time"></span></p>
<p>{{ i18n "Age"}}: <span id="age"></span></p>
<p>{{ i18n "Days-alive"}}: <span id="days-alive"></span></p>
{{ with site.GetPage "stats" }}
    {{ .Content }}
{{ end }}

<script>
    setInterval(() => {
        const dateToday = new Date();
        const dateBirthday = new Date('2006-12-07');
        
        let age = dateToday.getFullYear() - dateBirthday.getFullYear();
        let monthDiff = dateToday.getMonth() - dateBirthday.getMonth();
        
        if (monthDiff < 0 || (monthDiff === 0 && dateToday.getDate() < dateBirthday.getDate())) {
            age--;
        }
        
        document.getElementById('current-time').textContent = dateToday.toLocaleTimeString('nl-BE', {timeZone: 'Europe/Brussels'});
        document.getElementById('age').textContent = age;
        document.getElementById('days-alive').textContent = Math.floor((dateToday - dateBirthday) / (1000 * 60 * 60 * 24));;
    }, 500)
</script>