{{ with resources.Get "img/Button.gif" }}
<img src='https://raw.githubusercontent.com/andreasdelabie/andreasdelabie.neocities.org/refs/heads/main/assets{{ .RelPermalink }}' width="88" height="31" alt="Andreas Delabie's Neocities Button">
<div>
    <textarea id="neocities-button"><a href="https://andreasdelabie.neocities.org" target="_blank" rel="noopener noreferrer"><img src="https://raw.githubusercontent.com/andreasdelabie/andreasdelabie.neocities.org/refs/heads/main/assets{{ .RelPermalink }}" alt="Andreas Delabie's Neocities Button"></a></textarea>
</div>
<p>{{ i18n "neocities-button-info" }}</p>
<style>
    #neocities-button {
        margin: 10px 0 0;
        padding: 5px;
        width: 400px;
        height: 50px;
        resize: none;
        color: var(--white);
        background-color: var(--black);
        border: 1px dotted var(--grey);
    }
</style>
{{ end }}