<!DOCTYPE html>
<html lang="{{ .Language.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    {{ partial "head" . }}
</head>
<body>
    <div class="container">
        {{ partial "menu" }}
        <main>
            <section>
                {{ .Content }}
                <ul>
                    {{ range .Pages }}
                    <li>
                        <a href="{{ .RelPermalink }}">{{ .Date.Format "2 Jan 2006 15u04" }} - {{ .Title }}</a>
                        <p>{{ .Summary }}</p>
                    </li>
                    {{end}}
                </ul>
            </section>
        </main>
        {{ partial "footer" }}
    </div>
</body>
</html>