<!DOCTYPE html>
<html lang="{{ .Language.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    {{ partial "head" . }}
</head>
<body>
    <div class="container">
        {{ partial "menu" }}
        <main>
            <section>
                <h1>{{ .Title }}</h1>
                <p><i>{{ i18n "Posted-on" }} {{ .Date.Format "2 Jan 2006 15u04" }}</i></p>
                {{ .Content }}
            </section>
            <section>
                {{ with .Page.Params.Tags }}
                <h2>Tags:</h2>
                {{ range . }}
                <a href='{{ relLangURL "/tags" }}/{{ . }}'>{{ . }}</a>
                {{ end }}
                {{ end }}
            </section>
            <section>
                {{ partial "disqus.html" . }}
            </section>
        </main>
        {{ partial "footer" }}
    </div>
</body>
</html>