<!DOCTYPE html>
<html lang="{{ .Language.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    {{ partial "head" . }}
</head>
<body>
    <div class="container">
        {{ partial "logo" }}
        {{ partial "menu" }}
        <main>
            <section>
                <h1>{{ .Title }}</h1>
                <p><i>{{ i18n "Posted-on" }} {{ .Date.Format "2 Jan 2006 15u04" }}</i></p>
                {{ .Content }}
            </section>
            {{ with .Page.Params.Tags }}
            <section>
            <h2>Tags:</h2>
            {{ range . }}
            <a href='{{ relLangURL "/tags" }}/{{ . }}'>{{ . }}</a>
            {{ end }}
            </section>
            {{ end }}
            {{ if .Page.Params.Discussion }}
            <section>
                {{ partial "disqus.html" . }}
            </section>
            {{ end }}
        </main>
        {{ partial "widgets/crt-overlay" }}
        {{ partial "footer" }}
    </div>
</body>
</html>