@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --white: #dcdcdc;
    --grey: #808080;
    --black: #000000;

    font-size: 18px;
}

body {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;

    width: 100vw;
    display: flex;
    justify-content: center;

    color: var(--white);
    background-color: var(--black);

    font-family: 'VT323';
    font-weight: 400;
    font-style: normal;

    h2, h3, h4 {
        margin: 0 0 0.5rem;
    }
    a {
        color: var(--white);
    }
    code {
        font-family: 'VT323';
    }
    p:has(code) {
        padding: 5px;
        border: 1px dotted var(--grey);
    }
}

section, menu, footer {
    margin: 10px 0 0;
    padding: 10px;
    border: 1px dashed var(--grey);
}

.logo {
    margin: 25px 10px 15px;
    text-shadow: 0 0 10px var(--grey);
    .cursor {
        animation: blink 1s step-start infinite;
        @keyframes blink {
            50% {opacity: 0;}
        }
    }
}

menu {
    display: flex;
    align-items: end;
    justify-content: space-between;
    .pages {
        font-size: 1.5rem;
    }
}

footer {
    display: flex;
    justify-content: center;
}

.container {
    width: 900px;
}