<!DOCTYPE html>
<html lang="{{ .Language.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    {{ partial "head" . }}
</head>
<body>
    <div class="container">
        {{ partial "logo" }}
        {{ partial "menu" }}
        <main>
            <section>
                {{ .Content }}
            </section>
            <section>
                {{ partial "widgets/stats" }}
            </section>
            <section>
                {{ with .GetPage "widgets/featured-projects" }}
                {{ .Content }}
                {{ end }}
            </section>
            <section>
                <h2>{{ i18n "Draw-something-nice" }}:</h2>
                {{ partial "widgets/whiteboard" }}
                {{ with .GetPage "widgets/whiteboard-rules" }}
                {{ .Content }}
                {{ end }}
            </section>
            <section>
                <h2>{{ i18n "My-button" }}:</h2>
                {{ partial "widgets/neocities-button" }}
            </section>
            <section>
                <h2>{{ i18n "Other-sites" }}:</h2>
                {{ partial "widgets/buttons" }}
            </section>
        </main>
        {{ partial "footer" }}
    </div>
</body>
</html>